<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/RAGHIB_DATA/IntellIj_Workspace/TestNgSeleniumProject">
        <classes>
            <class name="com.raghib.testngwithxml.ExecutionFlow">
                <methods>
                    <include name="testCase1"/>
                    <include name="testCase2"/>
                </methods>
            </class>
            <class name="com.raghib.testngwithxml.UserTest"/>
        </classes>
    </test>
</suite>